# Database Configuration
# Local machine connection to docker postgres port 5433:
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/payroll_db"

# Docker Postgres environment variables
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="payroll_db"
POSTGRES_PORT="5433"

# Application Security & Configuration
JWT_SECRET="payroll_super_secret_jwt_key_2026"
NEXT_PUBLIC_APP_NAME="PayrollPro Cloud"
